{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>Seekr allows dedicated students to find job
          postings that match their goals while building their own personal profile, helping recruiters 
          better understand specific applicants needs. Candidates can see exactly where they stand in the process
          instead of being ghosted for months. Other resources like LinkedIn
          have algorithms and features that can dilute the application process, serving more
          as a social networking or media sites. </p>

        <p>Furthermore, Seekr makes recruiters' lives simpler by providing them
          with a platform to manage applicants, save candidate searches,
          and recieve recommendations rather than manually filter through prospective employees. 
          Overall, Seekr turns the application process from a noisy system to a
          purposed search, helping match compatible applicants and recruiters.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}